services:
  - type: redis
    name: weather-redis
    ipAllowList: []

  - type: pserv  # Private backend service
    name: weather-api-spring
    env: docker  # Docker runtime only
    dockerCommand: java -jar target/*.jar  # Optional override
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: REDIS_URL
        fromService:
          type: redis
          name: weather-redis
          property: connectionString
      - key: WEATHER_API_KEY
        value: FR83YB9XB8B468JLR4HKMTEAR
